.logo-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18, 1fr);
  gap: 10px;
  width: 450px;
  height: 350px;
  padding: 20px;

}


.logo {
  border: 2px solid #868080;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  border-radius: 20px;

  /* border: 2px solid #809ba7; */
}


.twitter {
  grid-column: span 3;
  grid-row: span 6;

}

.amazon {
  grid-column: span 6;
  grid-row: span 4;


}

.honda {
  grid-column: span 3;
  grid-row: span 8;
}

.services {
  grid-column: span 6;
  grid-row: span 3;
}

.google {
  grid-column: span 3;
  grid-row: span 3;
  border-bottom-right-radius: 35px !important;
}

.nike {
  grid-column: span 3;
  grid-row: span 3;
  border-bottom-left-radius: 45px !important;

}


.rover {
  grid-column: span 3;
  grid-row: span 6;
  border-bottom-left-radius: 55px !important;
}

.ferrari {
  grid-column: span 3;
  grid-row: span 10;
  border-bottom-left-radius: 75px !important;

}


.apple {

  grid-column: span 3;
  grid-row: span 6;

}

.bentley {

  grid-column: span 6;
  grid-row: span 5;

}

.netflix {
  grid-column: span 3;
  grid-row: span 7;

}

.consultancy {

  grid-column: span 6;
  grid-row: span 3;

}

.facebook {
  grid-column: span 3;
  grid-row: span 7;
  border-bottom-right-radius: 35px !important;
}


.audi {
  grid-column: span 6;
  grid-row: span 8;
  border-bottom-right-radius: 45px !important;
}

.ferrari2 {
  grid-column: span 3;
  grid-row: span 12;
  border-bottom-right-radius: 55px !important;
}


@media (max-width:476px) {

  .ericsson,
  .apple,
  .wipro {
    font-size: 0.7rem;
  }

}

@media (max-width:360px) {


  .ericsson {
    font-size: 0.5rem;
  }

}